<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
  <nav class = "navbar navbar-default fixed-top">
    <div class = "container-fluid">
        <p class = "navbar-text pull-left icon-padding">
          <a class = "navbar-link" href = "widget-list.html">
           <span class="glyphicon glyphicon-chevron-left black-color"></span>
          </a>
        </p>
        <a class = "navbar-brand bold-font" href = "#">Choose Widget</a>
      </div>
  </nav>

 <div class="container-fluid">
     <ul class="list-group">
         <li class="list-group-item hideborder">
             <a href="widget-heading.html">Header</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Label</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">HTML</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Text Input</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Link</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Button</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="widget-image.html">Image</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="widget-youtube.html">YouTube</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Data Table</a>
         </li>
         <li class="list-group-item hideborder">
             <a href="#">Repeater</a>
         </li>
     </ul>
 </div>

  <nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
      <p class = "navbar-text pull-right">
        <a class = "navbar-link icon-padding" href="../user/profile.html">
          <span class = "glyphicon glyphicon-user text-primary"></span>
        </a>
      </p>
    </div>
  </nav>


</body>

</html>
