<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <nav class = "navbar navbar-default fixed-top">
    <div class = "container-fluid row">
        <p class = "navbar-text pull-left icon-padding">
          <a class = "navbar-link" href = "../page/page-list.html">
           <span class="glyphicon glyphicon-chevron-left black-color"></span>
          </a>
        </p>
        <p class = "navbar-text pull-right icon-padding">
          <a class = "navbar-link" href = "widget-chooser.html">
            <span class = "glyphicon glyphicon-plus black-color"></span>
          </a>
        </p>
        <a class = "navbar-brand bold-font" href = "#">
          Widgets
        </a>
      </div>
  </nav>

  <div class = "container-fluid container-padding">
    <div>
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color"></span>
      </a>
      <a class = "pull-right" href = "widget-heading.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <h1>Nunes Memo</h1>
    </div>

    <div>
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color"></span>
      </a>
      <a class = "pull-right" href = "widget-heading.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <h3>Why Were the Democrats So Worried About the Nunes Memo?</h3>
    </div>

    <div>
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color white-bg"></span>
      </a>
      <a class = "pull-right" href = "widget-image.html">
        <span class = "glyphicon glyphicon-cog white-bg"></span>
      </a>
      <img class = "img-rounded img-responsive"
        src="https://media.newyorker.com/photos/5a74e0f56707032064baef02/master/w_1626,c_limit/Davidson-Sorkin-Democrats-Nunes-Memo.jpg">
    </div>

    <div class="text-padding">
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color"></span>
      </a>
      <a class = "pull-right" href = "widget-heading.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <p>On Friday afternoon, the House Intelligence Committee released what has become known as the Nunes Memo—named for the committee’s chairman, Devin Nunes, who has talked up its contents as though they were the key to a great conspiracy. Some readers will likely see the memo that way, though its revelations are notably thin, to the point of raising questions about why, exactly, the Democrats and the F.B.I. objected so passionately to making it public, adding to the hype along the way.</p>
    </div>

    <div>
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color"></span>
      </a>
      <a class = "pull-right" href = "widget-heading.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <h3>Trump on Nunes memo</h3>
    </div>

    <div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/kGeNMj3h8Sk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a class = "pull-right" href = "#">
          <span class = "glyphicon glyphicon-menu-hamburger black-color white-bg"></span>
        </a>
        <a class = "pull-right" href = "widget-youtube.html">
          <span class = "glyphicon glyphicon-cog white-bg"></span>
        </a>
      </div>
    </div>

    <div class="text-padding">
      <a class = "pull-right" href = "#">
        <span class = "glyphicon glyphicon-menu-hamburger black-color"></span>
      </a>
      <a class = "pull-right" href = "widget-heading.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <p>President Trump confirmed on Friday that a controversial Republican memo was declassified and returned to Congress at his order. Trump left no doubt on Friday that <a href="http://www.cnn.com/2018/02/02/politics/rod-rosenstein-donald-trump/index.html">Rosenstein's fate is hanging in the balance</a>, telling reporters "you figure that one out" when they asked him whether he had confidence in Rosenstein, whom he appointed to the job. Democrats fear that Trump could use Rosenstein's approval of an extended surveillance warrant for campaign foreign policy aide Carter Page, that is outlined in the report, as an excuse to fire him.</p>
    </div>

  </div>


  <nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
      <p class = "navbar-text pull-left">
        <a class = "navbar-link icon-padding" href="#">
          <span class = "glyphicon glyphicon-play black-color"></span>
        </a>
      </p>
      <p class = "navbar-text pull-left">
        <a class = "navbar-link" href="#">
          <span class = "glyphicon glyphicon-eye-open black-color"></span>
        </a>
      </p>
      <p class = "navbar-text pull-right">
        <a class = "navbar-link icon-padding" href="../user/profile.html">
          <span class = "glyphicon glyphicon-user text-primary"></span>
        </a>
      </p>
    </div>
  </nav>

</body>
</html>
