<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="black-color icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a class="icon-padding bold-font black-color">
          <span class="glyphicon glyphicon-ok" (click)="f.ngSubmit.emit()">
          </span>
      </a>
    </div>
    <a class="navbar-brand bold-font">
      HTML Edit
    </a>
  </div>
</nav>

<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
<form (ngSubmit)="updateOrCreate()" #f="ngForm">
<div class="form-group">
  <label for="heading-text">Name</label>
  <input type="text" class="form-control" id="heading-text" placeholder="{{widget.type}}"
         name="name" [(ngModel)] = "widget.name"/>
</div>
<div class="form-group">
<label for="html-editor">HTML</label>
<quill-editor [(ngModel)]="widget.text"
              name="text">
</quill-editor>
</div>
<button class="btn btn-danger btn-block" type="button" (click)="delete()">Delete</button>
</form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/user" class="icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
