<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}

</div>

  <div class = "container-fluid top-padding">
    <h1>Register</h1>
    <form (ngSubmit) = "register()" #f="ngForm">
      <input name = "username"
             type = "text"
             class = "form-control"
             placeholder = "username"
             ngModel
             required
             #username = "ngModel"/>
      <input name = "password"
             type="password"
             class="form-control"
             placeholder="password"
             ngModel
             required
             #password = "ngModel"/>
      <input name = "verifiedPassword"
             type="password"
             class="form-control"
             placeholder="verify password"
             ngModel
             required
             #verifiedPassword = "ngModel"/>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">Register</button>
      <button routerLink="/login" class = "btn btn-danger btn-block" >Cancel</button>
    </form>
 </div>
