<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale = 1.25, user-scalable = no">
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid ct-no-padding">
  <div class="card fixed-top">
    <div class="card-header bg-primary text-white">
      <strong class="heading-padding">Profile</strong>
      <a class="float-right" href="profile.html"><i class="fa fa-check white-icon"
                                                    aria-hidden="true"></i></a>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="lab-no-m"><strong>Username</strong></label>
        <input type="text" class="form-control" placeholder="username">
        <label class="lab-no-m"><strong>Email</strong></label>
        <input type="email" class="form-control" placeholder="Email">
        <label class="lab-no-m"><strong>First Name</strong></label>
        <input type="text" class="form-control" placeholder="Matthew">
        <label class="lab-no-m"><strong>Last Name</strong></label>
        <input type="text" class="form-control" placeholder="Mao">

      </div>
      <a href="../website/website-list.html" class="btn btn-primary btn-block text-white">Website</a>
      <a href="login.html" class="btn btn-danger btn-block text-white">Logout</a>
    </div>

    <div class="card-footer bg-primary text-white fixed-bottom">
      <a class="float-right white-icon" href="profile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
  </div>


</div>
</body>
</html>
