

<nav class = "navbar bg-primary fixed-top">
  <div class="container-fluid">
        <a class="navbar-brand white-color bold-font">
            Profile
        </a>
        <p class="navbar-text pull-right">
           <button class="btn btn-link navbar-link white-color" (click)="f.ngSubmit.emit()">
           <span class="glyphicon glyphicon-ok"></span>
           </button>
        </p>
  </div>
</nav>


<div class="container container-outer">

  <h1>Profile</h1>


  <form (ngSubmit) = "update()" #f = "ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username" required type="text" class="form-control" name="username" placeholder={{username}}/>
    </div>

    <div>
      <label for="email">Email</label>
      <input [(ngModel)]="email" required type="email" class="form-control" name="email" placeholder={{email}} />
    </div>

    <div>
      <label for="firstName">First Name</label>
      <input [(ngModel)]="firstName" required type="text" class="form-control" name="firstName" placeholder={{firstName}}/>
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="lastName" required type="text" class="form-control" name="lastName" placeholder={{lastName}}/>
    </div>

    <div>
      <label for="phone">Phone</label>
      <input [(ngModel)]="phone" required type="text" class="form-control" name="phone" placeholder={{phone}}/>
    </div>

    <br/>
    <button routerLink="/user/{{userId}}/website" class="btn btn-primary btn-block">Websites</button>
    <button routerLink="/login" (click)="delete()" class="btn btn-danger btn-block text-white">Delete</button>
    <button routerLink="/login" class="btn btn-success btn-block">Log Out</button>

  </form>
</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
       <p class="navbar-text pull-right">
          <a routerLink="/user/{{userId}}" class="navbar-link white-color">
             <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
    </div>
</nav>



