

<nav class = "navbar bg-primary fixed-top">
  <div class="container-fluid">
        <a class="navbar-brand white-color bold-font">
            Profile
        </a>
        <p class="navbar-text pull-right">
           <button class="btn btn-link navbar-link white-color" (click)="f.ngSubmit.emit()">
           <span class="glyphicon glyphicon-ok"></span>
           </button>
        </p>
  </div>
</nav>


<div class="container">

  <h1>Profile</h1>

  <!-- generate message when updated -->
  <div *ngIf="updatedFlag" class="alert alert-success">
    {{updatedMsg}}
  </div>

  <form (ngSubmit) = "updateUser()" #f = "ngForm">
      <label for="username">Username</label>
      <input [(ngModel)]="username" type="text" class="form-control" name="username" placeholder={{username}}/>

      <label for="email">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control" name="email" placeholder={{email}} />

      <label for="firstName">First Name</label>
      <input [(ngModel)]="firstName" type="text" class="form-control" name="firstName" placeholder={{firstName}}/>

      <label for="lastName">Last Name</label>
      <input [(ngModel)]="lastName" type="text" class="form-control" name="lastName" placeholder={{lastName}}/>

    <br/>
    <button routerLink="/user/{{userId}}/website" class="btn btn-primary btn-block">Websites</button>
    <button routerLink="/login" class="btn btn-danger btn-block">Log Out</button>

  </form>
</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
       <p class="navbar-text pull-right">
          <a routerLink="/user/{{userId}}" class="navbar-link white-color">
             <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
    </div>
</nav>



