<nav class = "navbar bg-primary fixed-top">
  <div class = "row">
    <div class = "col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <div class="container-fluid">
          <p class="navbar-text pull-left">
             <a routerLink="/user/{{userId}}/website" class="navbar-link white-color">
                <span class="glyphicon glyphicon-chevron-left"></span>
             </a>
          </p>
          <a class="navbar-brand white-color bold-font" routerLink="..">
              Websites
          </a>
          <p class="navbar-text pull-right">
             <a routerLink="/user/{{userId}}/website/new" class="navbar-link white-color icon-padding">
             <span class="glyphicon glyphicon-plus"></span>
             </a>
          </p>
      </div>
    </div>

    <div class = "col-lg-8 col-xs-12 col-sm-8 col-md-8">
     <div class="container-fluid">
        <p class="navbar-text pull-left">
           <a routerLink="/user/{{userId}}/website" class="navbar-link white-color hidden-sm hidden-md hidden-lg">
           <span class="glyphicon glyphicon-chevron-left"></span>
           </a>
        </p>
        <a class="navbar-brand white-color bold-font" href="#">
            New Website
        </a>
        <p class="navbar-text pull-right">
           <a routerLink="/user/{{userId}}/website" class="navbar-link white-color icon-padding" (click)="f.ngSubmit.emit()">
           <span class="glyphicon glyphicon-ok"></span>
           </a>
        </p>
     </div>
    </div>
  </div>
</nav>


<div class = "container-fluid">
  <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
  <div *ngFor = "let website of websites" >
      <ul class = "list-group">
        <li class="list-group-item hideborder">
          <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
          <a routerLink="/user/{{userId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
      </ul>
  </div>
  </div>

<div class = "col-xs-12 col-lg-8 col-sm-8 col-md-8">
  <form (ngSubmit) = "newWebsite()" #f = "ngForm">
    <div class = "form-group">
      <label for = "website-name">Name</label>
      <input
      [(ngModel)] = "webname"
             name = "webname"
             type = "text"
             class = "form-control"
             placeholder = "Name"/>
    </div>
    <div class = "form-group">
      <label for = "web-description">Description</label>
      <textarea class = "form-control" id = "website-description"
        placeholder = "Description" rows = "5"></textarea>
      </div>
  </form>
</div>
</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
       <p class="navbar-text pull-right">
          <a routerLink="/user/{{userId}}" class="navbar-link white-color">
             <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
    </div>
</nav>
