<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <nav class = "navbar navbar-default fixed-top">
    <div class = "container-fluid">
        <p class = "navbar-text pull-left ">
          <a class = "navbar-link" href = "page-list.html">
           <span class="glyphicon glyphicon-chevron-left black-color"></span>
          </a>
        </p>
        <p class = "navbar-text pull-right ">
          <a class = "navbar-link" href = "page-list.html">
            <span class = "glyphicon glyphicon-ok black-color"></span>
          </a>
        </p>
        <a class = "navbar-brand bold-font" href = "#">
          Edit Page
        </a>
      </div>
  </nav>

  <div class = "container-fluid">
    <form>
      <div class = "form-group">
        <label class="normal-font" for = "name">Name</label>
          <input tyle = "text"
                 class = "form-control"
                 id = "pagename"
                 placeholder = "Blog Post"/>
        <label class="normal-font" for = "title">Title</label>
          <input type = "text"
                 class = "form-control"
                 id = "title"
                 placeholder = "Page Title"/>
      </div>
    </form>
    <a class = "btn btn-danger btn-block" href = "page-list.html">Delete</a>
  </div>

  <nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
      <p class = "navbar-text pull-right">
        <a class = "navbar-link icon-padding" href="../user/profile.html">
          <span class = "glyphicon glyphicon-user text-primary"></span>
        </a>
      </p>
    </div>
  </nav>

</body>
</html>
