<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale = 1.25, user-scalable = no">
  <meta charset="UTF-8">
  <title>page-list</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid ct-no-padding">
  <div class="card fixed-top no-border">
    <div class="card-header">
      <a href="../website/website-list.html"><i class="fa fa-chevron-left black-icon" aria-hidden="true"></i></a>
      <strong class="heading-padding text-muted">Pages</strong>
      <a class="float-right" href="page-new.html"><i class="fa fa-plus black-icon" aria-hidden="true"></i>
      </a>

    </div>
    <div class="card-body list-no-right-p">
      <ul class="list-group">
        <li class="list-group-item no-border"><a href="../widget/widget-list.html">Blog post</a><a class="float-right"
                                                                                                   href="page-edit.html">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a></li>
        <li class="list-group-item no-border"><a href="../widget/widget-list.html">Blogs</a><a class="float-right"
                                                                                               href="page-edit.html"><i
          class="fa fa-cog" aria-hidden="true"></i>
        </a></li>
        <li class="list-group-item no-border"><a href="../widget/widget-list.html">Home</a><a class="float-right"
                                                                                              href="page-edit.html"><i
          class="fa fa-cog" aria-hidden="true"></i>
        </a></li>
        <li class="list-group-item no-border"><a href="../widget/widget-list.html">About</a><a class="float-right"
                                                                                               href="page-edit.html"><i
          class="fa fa-cog" aria-hidden="true"></i>
        </a></li>
        </a></li>
        <li class="list-group-item no-border"><a href="../widget/widget-list.html">Contact us</a><a class="float-right"
                                                                                                    href="page-edit.html"><i
          class="fa fa-cog" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
    <div class="card-footer fixed-bottom">
      <a class="float-right" href="../user/profile.html"><i class="fa fa-user" aria-hidden="true"></i>
      </a>
    </div>
  </div>


</div>
</body>
</html>
