 <nav class = "navbar navbar-default fixed-top">
    <div class = "container-fluid row">
        <p class = "navbar-text pull-left icon-padding">
          <a class = "navbar-link" routerLink="../">
           <span class="glyphicon glyphicon-chevron-left black-color"></span>
          </a>
        </p>
        <p class = "navbar-text pull-right icon-padding">
          <a class = "navbar-link" (click) = "f.ngSubmit.emit()">
            <span class = "glyphicon glyphicon-ok black-color"></span>
          </a>
        </p>
        <a class = "navbar-brand bold-font">
          Widget Edit
        </a>
      </div>
  </nav>

  <div class = "container-fluid">
    <form (ngSubmit) = "updateOrCreate()" #f = "ngForm">
      <div class = "form-group">
        <label class="normal-font" for = "youtube-name">Name</label>
         <input tyle = "text"
                 class = "form-control"
                 id = "image-name"
                 placeholder = "Name"/>
        <label class="normal-font" for = "text">Text</label>
         <input  [(ngModel)] = "widget.text"
                 class = "form-control"
                 name="imageText"
                 placeholder = "{{text}}"
                 type="text"
         />
        <label class="normal-font" for = "url">URL</label>
         <input  [(ngModel)] = "widget.url"
                  value="{{url}}"
                 class = "form-control"
                 name="imageUrl"
                 placeholder = "{{url}}"
                 type="url"
         />
        <label class="normal-font" for = "youtube-width">Width</label>
         <input  [(ngModel)] = "widget.width"
                 class = "form-control"
                 name="imageWidth"
                 placeholder = "{{width}}"
                 type="text"
         />
         <label class="normal-font" for="exampleInputFile">Upload</label>
         <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
          <input  name="myFile"   type="file" class="form-control"/>
          <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
          <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
          <input  name="pageId" value="{{pageId}}"   style="display: none"/>
          <input  name="userId" value="{{userId}}"   style="display: none"/>
          <br>
          <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
         </form>
      </div>
    </form>
    <button class = "btn btn-success btn-block" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId, 'flickr']">Search Flickr Image</button>
    <button class = "btn btn-danger btn-block" (click) = "delete()">Delete</button>
  </div>

  <nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
      <p class = "navbar-text pull-right">
        <a class = "navbar-link icon-padding" routerLink="/user/{{userId}}">
          <span class = "glyphicon glyphicon-user text-primary"></span>
        </a>
      </p>
    </div>
  </nav>
