.white-color{
  color: white;
}

.bold-font {
  font-weight: bold;
}

.icon-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.hideborder {
  border-style: hidden;
}

input{
  margin-bottom: 5px;
}

a:link{
  text-decoration: none;
}
