
<nav class = "navbar bg-primary fixed-top">
  <div class = "row">
    <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
      <div class="container-fluid">
                <p class="navbar-text pull-left">
                   <a routerLink="/profile/{{userId}}/website" class="navbar-link white-color">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                   </a>
                </p>
                <a class="navbar-brand white-color bold-font">
                    Websites
                </a>
                <p class="navbar-text pull-right">
                   <a routerLink="/user/{{userId}}/website/new" class="navbar-link white-color">
                   <span class="glyphicon glyphicon-plus"></span>
                   </a>
                </p>
            </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="container-fluid">
                <p class="navbar-text pull-left icon-padding">
                   <a routerLink="/user/{{userId}}/website" class="navbar-link white-color hidden-sm hidden-md hidden-lg">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                   </a>
                </p>
                <a class="navbar-brand white-color bold-font">
                    Edit Website
                </a>

                <p class="navbar-text pull-right icon-padding">
                   <button routerLink="/user/{{userId}}/website" class="navbar-link white-color" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">
                   <span class="glyphicon glyphicon-ok"></span>
                   </button>
                </p>

          </div>
    </div>
  </div>
</nav>

<div class="row">
  <div *ngFor = "let website of websites" class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
    <ul class = "list-group">
          <li class="list-group-item hideborder">
            <a routerLink="/user/{{userId}}/website/{{webId}}/page">{{website.name}}</a>
            <a routerLink="/user/{{userId}}/website/{{webId}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
          </li>
    </ul>
  </div>

  <div class = "col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class = "container-fluid">
      <form (ngSubmit) = "updateWebsite()" #f = "ngForm">
        <div class = "form-group">
          <label for = "website-name">Website Name</label>
          <input name = "webName"
                 type = "text"
                 class = "form-control"
                 id = "website-name"
                 placeholder = "{{website.name}}"
                 ngModel
                 required
                 #webName = "ngModel"/>
          <span class="help-block" *ngIf="!webName.valid && webName.touched"> Please enter website name! </span>
        </div>
        <div class = "form-group">
          <label for = "web-description">Website Description</label>
          <textarea name = "description" class = "form-control" id = "website-description" rows = "5" ngModel #desription = "ngModel"
            placeholder = "{{website.description}}"></textarea>
        </div>
      </form>
      <button class="btn btn-danger btn-block" routerLink="/user/{{userId}}/website" (click) = "deleteWebsite()">Delete</button>
    </div>
  </div>
</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
       <p class="navbar-text pull-right">
          <a routerLink="/user/{{userId}}" class="navbar-link white-color">
             <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
    </div>
</nav>
