<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a class="cl-icon-padding cl-text-black">
        <button class="glyphicon glyphicon-ok" (click)="f.ngSubmit.emit()">
        </button>
      </a>
    </div>
    <a class="navbar-brand  bold-font">
      Text Edit
    </a>
  </div>
</nav>

<div class="container">
  <form (ngSubmit)="updateOrCreate()" #f="ngForm">

    <div class="form-group">
      <label for="heading-text">Text</label>
      <input [(ngModel)]="widget.text"name="text" class="form-control" id="heading-text"/>
    </div>
    <div class="form-group">
      <label for="heading-rows">Rows</label>
      <input  [(ngModel)] = "rows"
               class = "form-control"
               name="rows"
               placeholder = "{{rows}}"
               type="number"/>
    </div>
    <div class="form-group">
      <label for="heading-placeholder">Placeholder</label>
      <input [(ngModel)] = "placeholder"
             class = "form-control"
             name="placeholder"
             placeholder = "{{placeholder}}"
             type="text"/>
    </div>
    <div class="input-group">
      <label for="heading-formatted">Formatted</label>
      <input [(ngModel)] = "formatted"
             class = "form-control"
             name="formatted"
             placeholder = "{{formatted}}"
             type="checkbox"/>
    </div>
    <button class="btn btn-danger btn-block" type="button" (click)="delete()" routerLink="../">Delete</button>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
