<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="black-color icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a class="icon-padding black-color">
        <span class="glyphicon glyphicon-ok" (click)="f.ngSubmit.emit()">
        </span>
      </a>
    </div>
    <a class="navbar-brand  bold-font">
      Text Edit
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit)="updateOrCreate()" #f="ngForm">

    <div class="form-group">
      <label for="heading-text">Text</label>
      <input [(ngModel)]="widget.text"
              name="text"
              class="form-control"
              id="heading-text"/>
    </div>
    <div class="form-group">
      <label for="heading-rows">Rows</label>
      <input  [(ngModel)] = "widget.rows"
               class = "form-control"
               name="rows"
               placeholder = "{{rows}}"
               type="number"/>
    </div>
    <div class="form-group">
      <label for="heading-placeholder">Placeholder</label>
      <input [(ngModel)] = "widget.placeholder"
             class = "form-control"
             name="placeholder"
             placeholder = "{{placeholder}}"
             type="text"/>
    </div>
    <div class="input-group">
      <label for="heading-formatted">Formatted</label>
      <input [(ngModel)] = "widget.formatted"
             class = "form-control"
             name="formatted"
             placeholder = "{{formatted}}"
             type="checkbox"/>
    </div>
    <button class="btn btn-danger btn-block" type="button" (click)="delete()">Delete</button>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/user/{{userId}}" class="icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
