.black-color {
  color: black;
}

.bold-font {
  font-weight: bold;
}

.icon-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.hideborder {
  border-style: hidden;
}

.white-bg {
  background-color: white;
}

.normal-font {
  font-weight: normal;
}

.text-padding {
  padding-top: 10px;
}

input {
  margin-bottom: 5px;
}

a:link{
  text-decoration: none;
}

.youtube-widget {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.youtube-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
